# Ignore virtual environment
venv/
ENV/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
